@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
body{
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: #f0fafb;
}
.Hero{
    width: 100%;
}
.Hero img{
    background-color: #5da5a4;
    width: 100%;
}