article{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 30px;
    padding: 0 20px;
    box-shadow: 0px 0px 25px 0px rgba(157,189,188,1);
    border-radius: 5px;
}
.Info{
    margin-top: 20px;
    display: flex;
}
.img{
    align-self: center;
    margin-right: 30px;
}
.Tags{
    display: flex;
    align-items: center;
}
.Tags div{
    max-width: 20%;
}
.Tags div button{
    transition: .4s;
    cursor: pointer;
    color: #55a2a0;
    padding: 5px 10px;
    background-color: #f3f6f4;
    border: none;
    border-radius: 5px;
}
.Tags div button:hover{
    transition: .4s;
    color: white;
    background-color: #55a2a0;
}
strong{
    font-weight: 300;
    font-size: 12px;
    color: white;
    margin: 0 10px;
    padding: 5px 10px;
    padding-bottom: 2px;
}
.new{
    border-radius: 20px;
    background-color: #55a2a0;
}
.Featured{
    border-radius: 20px;
    background-color: #2b3635;
}

@media screen and (max-width: 770px){
    article{
        font-size: 12px;
        grid-template-columns: auto;
        grid-gap: 20px;
    }
    .Tags{
        margin-bottom: 20px;
    }
}

@media screen  and (max-width: 520px){
    .Info{
        margin-top: 20px;
        display: block;
        text-align: center;
    }
    .img{
        margin-right: 0;
    }
    .Hero img{
        height: 60px;
    }
    .Tags{
        justify-content: center;
    }
}
@media screen and (max-width: 375px){
    article{
        margin: 20px 10px;
    }
    .Tags{
        justify-content: start;
    }
}

@media screen and (max-width: 320px) {
    .Text p strong{
        font-size: 10px;
        margin: 0 2px;
    }
}